<div class="container">
  <h4 class="ml5 my5">You have no project yet. You can start yours now.</h4>
  <%= link_to t('prj_start_hero.start'), new_project_path, class: 'btn btn-default btn-ghost btn-lg ml5 mb5' %>
</div>
