<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      パスワードリセットの手順のお知らせ
    </h1>
    <p>
      ==================================================
    </p>
    <p>
      <%= @user.name %>様
    </p>
    <p>
      いつもVin-Vin Fundingをご利用いただきありがとうございます。
    </p>
    <p>
      パスワードリセットの依頼を承りました。
      <br>以下のリンクよりお進みください。
    </p>
    <p>
      <%= @url %>
      <br>*このリンクは１時間で無効となります。
    </p>
    <br>
    <p>
      もしパスワードリセットの依頼を行っていない場合は、このメールを破棄してください。
    </p>
  </body>
</html>
