<div class="field">
  <label>
    <% if params['action'] == 'edit' %>
      <% checked = pl.persisted? && !pl.marked_for_destruction? %>
    <% else %>
      <% checked = pl.use_this_language == "1" %>
    <% end %>
    <%= f.check_box :use_this_language, checked: checked %>
    <span>Use this language</span>
  </label>
</div>
<%= f.hidden_field :language_id %>
<%= f.hidden_field :id %>
