<div class="field">
  <label>
    <% checked = pl.persisted? && !pl.marked_for_destruction? %>
    <%= f.check_box :use_this_language, checked: checked %>
    <span>Use this language</span>
  </label>
</div>
<%= f.hidden_field :language_id %>
<%= f.hidden_field :id %>
