<div class="form-group">
  <%= f.label :body %>
  <%= f.cktext_area :body, class: 'ckeditor', ckeditor: {toolbar: :mini, height: 500} %>
</div>
<%= f.hidden_field :language_id %>
<%= f.hidden_field :id %>
