/* imports */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
  font-family: 'Noto Sans', sans-serif;
}


/* variables */

$vvf-blue: #74cde1;
$vvf-orange: #e19c57;
$white-smoke: #f5f5f5;
$vvf-light-sky: #f5fffa;
$basic-link-color: #333333;

/* reset some bootstrap style */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0px;
}

p {
  margin-bottom: 20px;
}


/* utils */

@for $i from 0 through 10 {
  .mt#{$i} {
    margin-top: #{$i * 10}px;
  }

  .mb#{$i} {
    margin-bottom: #{$i * 10}px;
  }

  .mr#{$i} {
    margin-right: #{$i * 10}px;
  }

  .ml#{$i} {
    margin-left: #{$i * 10}px;
  }

  .mx#{$i} {
    margin-left: #{$i * 10}px;
    margin-right: #{$i * 10}px;
  }

  .my#{$i} {
    margin-top: #{$i * 10}px;
    margin-bottom: #{$i * 10}px;
  }

  .pt#{$i} {
    padding-top: #{$i * 10}px;
  }

  .pb#{$i} {
    padding-bottom: #{$i * 10}px;
  }

  .pr#{$i} {
    padding-right: #{$i * 10}px;
  }

  .pl#{$i} {
    padding-left: #{$i * 10}px;
  }

  .px#{$i} {
    padding-left: #{$i * 10}px;
    padding-right: #{$i * 10}px;
  }

  .py#{$i} {
    padding-top: #{$i * 10}px;
    padding-bottom: #{$i * 10}px;
  }
}

.block {
  display: block;
}

.absolute-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.list-no-style {
  list-style: none;
}

.list-vertical {
  list-style: none;
  padding-left: 0px;
}

.grey-dark {
  color: #828587;
}

.border-bottom {
  border-bottom: 1px solid #e0e0e0;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}
