
.field-group {
  border: 1px solid #838383;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.col {
  float: left;
  padding: 0px 20px;
  position: relative;
}

.col-right {
  float: right;
}

.error-container {
   position: fixed;
   top: 30px;
   left: 10%;
   right: 10%;
   z-index: 100;
   .alert {
     // margin-bottom: 0px;
     opacity: 0.9;
   }
}

#go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  a {
    width: 90px;
    display: block;
    &:hover {
      opacity: 0.7;
    }
  }
}

.hero-image {
  height: 720px;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  // background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  padding-top: 90px;
  div {
    text-align: center;
  }
  p.hero-title {
    color: $white-smoke;
    font-size: 7em;
    margin-top: 30px;
  }
  p.hero-subtitle {
    color: $white-smoke;
    font-size: 3em;
  }
  p.hero-sentence {
    //color: #e19c57;
    margin-top: 10px;
    font-size: 5em;
  }
  .hero-start-btn {
    margin-top: 170px;
  }
}

.hero-image-01 {
  background-image: image-url("AdobeStock_hero_01.jpeg");
}

.hero-image-02 {
  background-image: image-url("AdobeStock_hero_02.jpeg");
}

.hero-image-03 {
  background-image: image-url("AdobeStock_hero_03.jpeg");
}

.hero-image-04 {
  background-image: image-url("AdobeStock_hero_04.jpeg");
}

.hero-bottom-line {
  width: 100%;
  display: block;
}

.favorites-area {
  height: 500px;
  background-color: $vvf-light-sky;
  padding: 50px 0px;
  a {
    color: #333333;
  }
}

.favorites-content {
}

.projects-slider .title {
  padding: 30px 0px;
}

.see-all-category {
  margin-top: 15px;
}

.project-card-wrap {
  .project-image {
    padding-left: 0px;
    float: left;
    width: 50%;
    height: 240px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    img {
      max-width: 470px;
      //max-height: 240px;
    }
  }
  .project-card-description {
    padding-right: 0px;
    height: 240px;
    position: relative;
    margin-left: 490px;
  }
  .project-location-category {
    margin-bottom: 20px;
  }
  .progress {
    height: 10px;
  }
}

.posted-projects .project-card-wrap,
.backed-projects .project-card-wrap {
  margin: 30px 0px;
}

.category-nav {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  height: 320px;
}

.project-tile {
  height: 440px;
  background-color: white;
  border: solid 1px #D9D9DE;
  border-radius: 6px;
  line-height: 1.5;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;
  .project-image {
    border-radius: 6px 6px 0px 0px;
    height: 180px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
    }
  }
  .project-tile-content {
    padding: 10px;
  }
  .project-tile-footer {
    padding: 25px 10px 10px 10px;
    font-size: 5px;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
  a {
    color: #333333;
  }
  .project-tile-category-lang {
    margin-bottom: 5px;
  }
  .progress {
    height: 10px;
  }
}

.start-project-area {
  height: 330px;
  background-color: $vvf-blue;
  text-align: center;
  padding-top: 30px;
  .project-start-message {
    color: $white-smoke;
    font-size: 4em;
  }
}

.global-footer {
  height: 350px;
  background-color: $vvf-orange;
  a, h3 {
    color: $white-smoke;;
  }
}

.navbar-copyright {
  .footer-logo {
    img {
      max-width: 300px;
    }
  }
}

.project-hero {
  background-color: $vvf-light-sky;
  .project-hero-image {
    height: 400px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  a {
    color: #333333;
  }
  .project-hero-stats {
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

.bg-white {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

.project-content-body {
  line-height: 1.5em;
  word-wrap: break-word;
  & > p > img {
    width: 100% !important; //To avoid the limitation of ckeditor.
    height: auto !important;
  }
}

.reward-tile-wrap {
  margin-bottom: 20px;
  font-size: 14px;
  display: block;
  background: $vvf-light-sky;
  border: 1px solid #ffffff;
  border-radius: 6px;
  word-break: break-word;
  .reward-tile {
    margin: 0 20px 0 20px;
    padding: 20px 0 20px 0;
    .reward-image {
      height: 200px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .reward-footer {
      height: 60px;
      .reward-footer-item {
        float: left;
        width: 50%;
        .item-label {
          color: $gray-light;
          display: block;
        }
        .item-data {
          display: block;
        }
      }
    }
  }
}

.reward-title {
  background-color: $vvf-light-sky;
}

.reward-info {
  .reward-image {
    height: 220px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .reward-content {
     .item-label {
       color: $gray-light;
       display: block;
     }
     .item-data {
       display: block;
     }
  }
}

.shipping-info {
  .form-group {
    margin-bottom: 0px;
  }
  .form-control {
    margin-bottom: 5px;
  }
}

.pledge-attention {
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  padding: 20px;
}

#pledge-modal {
  .modal-header {
    background-color: $vvf-light-sky;
    border-radius: 6px;
    text-align: center;
  }
  .modal-dialog {
    width: 80%;
    .modal-container {
      width: 80%;
    }
  }
}

.profile-header {
  background-color: $vvf-light-sky;
  a {
    color: $basic-link-color;
  }
}

.project-card-description {
  a {
    color: $basic-link-color;
  }
}

.full-wide-header {
  background-color: $vvf-light-sky;
}

.tab-content {
  padding: 5px;
  margin-bottom: 5px;
  border-right: 2px #ddd solid;
  border-bottom: 2px #ddd solid;
  border-left: 1px #ddd solid;
  border-radius: 0 0 6px 6px;
}


.social {
  .button {
    float: left;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 4px;
    &.facebook {
        margin-right: 17px;
    }
    &.twitter {
        width: 90px;
    }
  }
}

.floating-panel-right {
  position: fixed;
  top: 150px;
  right: 0px;
  width: 120px;
  background-color: white;
  border-radius: 4px 0px 0px 4px;
  text-align: center;
  padding: 50px 0px;
  z-index: 99;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  a {
    width: 100px;
  }
}
