.field-group {
  border: 1px solid #838383;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

header {
  border-bottom: solid 1px #a0a0a0;
}

.left {
  float: left;
}

.site-nav {
  background-color: #ffffff;
  border-bottom: solid 1px #a0a0a0;
}

.site-logo {
  padding: 5px 20px;
}

.vvf-logo {
  background-image: image-url("vvf_logo_header.png");
}
