<nav class="navbar navbar-white">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to t('mypage_header.mypage'), mypage_profile_path, class: 'navbar-brand' %></li>
      <li><%= link_to t('mypage_header.profile'), mypage_profile_path %></li>
      <li><%= link_to t('mypage_header.notifications'), mypage_notifications_path %></li>
    </ul>
  </div>
</nav>
