<div class="error-container">
  <div class="alert alert-danger">
    <button class="close" data-dismiss="alert">&times;</button>
    <div id="error_explanation">
      <h2>
        <%= pluralize(errors.count, "error") %> prohibited this pledge from being saved:
      </h2>

      <ul>
        <% errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
